---
//import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
import InfoCard from "../components/InfoCard.astro";
import PortfolioCard from "../components/PortfolioCard.astro";
---

<Layout>
	<header class="header">
		<section class="wrapper">
			<InfoCard
				png="iconer/email.png"
				text="E-mail"
				info="julialstrup19@gmail.com"
			/>
			<InfoCard png="iconer/Phone.png" text="Phone" info="+4526296578" />
			<InfoCard
				png="iconer/Linkedin.png"
				text="Linkedin"
				info="https://www.linkedin.com/in/julie-alstrup-therkelsen-47525a344/"
			/>
			<InfoCard
				png="iconer/study.png"
				text="Uddannelses sted"
				info="EK Erhvervsakademi København"
			/>
		</section>
	</header>

	<body>
		<section class="name">
			<h1>Julie Alstrup Therkelsen</h1>
		</section>

		<section class="frame">
			<div class="Ansøgning">
				<div class="portræt">
					<img
						src="/portfolio-img/portrait.webp"
						alt="portræt-billede"
					/>
				</div>
				<div class="OmMig">
					<h3>Om mig</h3>
					<p>
						Hej, jeg hedder Julie Alstrup Therkelsen, og jeg er
						3-semster multimediedesignerstuderende, på front-end
						valgfag, med en stor passion for digitalt design og
						front-end udvikling. Jeg elsker at kombinere kreativitet
						og teknologi for at skabe brugervenlige og visuelt
						tiltalende weboplevelser.
					</p>
				</div>
				<div class="Erfaring">
					<h3>Erfaring</h3>
					<p>
						Jeg har erfaring med Figma og Adobe-programmer til
						designarbejde, og har, indtil videre, arbejdet med
						GitHub, Netlify, Codepen og Visual Studio Code, hvor jeg
						har kodet projekter i Astro, med HTML, CSS og Java
						Script. Dette har givet mig praktisk erfaring med at
						omsætte visuelle idéer til funktionelle digitale
						løsninger.
					</p>
				</div>
				<div class="Mål">
					<h3>Mål</h3>
					<p>
						Mit mål med praktikken er at udvikle mine evner inden
						for webdesign, med hovedfokus på front-end udvikling,
						samt den visuelle del, brugeroplevelse, grafik og
						multimedia, hvor jeg kan kombinere design og kodning og
						skabe interaktive løsninger, der engagerer brugerne.
					</p>
				</div>
				<div class="Tilgang">
					<h3>Tilgang</h3>
					<p>
						Jeg arbejder struktureret, kreativt og elsker at finde
						løsninger på udfordringer, både tekniske og kreative, og
						jeg ser frem til at bidrage til spændende digitale
						projekter hos en virksomhed, hvor jeg kan lære og
						udvikle mine færdigheder yderligere.
					</p>
				</div>
			</div>

			<div class="Portfolie">
				<h1>Portfolio</h1>

				<h3>1. Semester</h3>

				<div class="PortCards">
					<PortfolioCard
						link="https://ornate-zuccutto-e8ca03.netlify.app/"
						img="/portfolio-img/MealPrep.png"
						tekst="Mealprep Site"
						opgaveNavn="Meal-prep site"
						opgaveInfo1="Udvikle site fra idé til færdigt site."
						opgaveInfo2="Design & kodning (Figma, HTML, CSS, JS)"
						opgaveInfo3="Research, test & dokumentation"
					/>

					<PortfolioCard
						link="https://venerable-parfait-0f27ae.netlify.app/"
						img="/portfolio-img/PassionSite.png"
						tekst="Passion Site"
						opgaveNavn="Passion Site"
						opgaveInfo1="HTML/CSS/JS, Lottiefile, 2 webfonte, valid HTML/CSS"
						opgaveInfo2="5-shot-sequence, interview, B-roll, HD, ekstern lyd"
						opgaveInfo3="Illustrator + After Effects, Lottiefile"
					/>
					<PortfolioCard
						link="https://gleaming-rabanadas-c4e293.netlify.app/spil"
						img="/portfolio-img/FruitFall.png"
						tekst="Animation Site"
						opgaveNavn="Animation Game"
						opgaveInfo1="Klik-spil, point/liv/tid, tab/vind"
						opgaveInfo2="Figurer, baggrund, skitser, lyde, musik"
						opgaveInfo3="Løbende dokumentation af arbejde og udvikling"
					/>
				</div>

				<h3>2. Semester</h3>

				<div class="PortCards">
					<PortfolioCard
						link="https://cheery-arithmetic-508485.netlify.app/"
						img="/portfolio-img/WeshelterSite.png"
						tekst="We Shelter Site"
						opgaveNavn="WeShelter Site"
						opgaveInfo1="Kampagnesite – donation/rekruttering"
						opgaveInfo2="Figma-prototype, interaktiv, responsiv"
						opgaveInfo3="Kode i Astro, komponenter, host på Netlify"
						opgaveInfo4="Research, iteration, dokumentation, teamarbejde"
					/>
					<PortfolioCard
						link="https://peaceful-frangollo-8420ec.netlify.app/"
						img="/portfolio-img/PleasantSite.png"
						tekst="Pleasant Site"
						opgaveNavn="Pleasant Site"
						opgaveInfo1="Digital løsning + indhold til site og sociale medier, konvertering"
						opgaveInfo2="Målgruppe-baseret konceptudvikling pains/gains, illustrationer og SOME-indhold, visuel stil + kreativ tilpasning"
						opgaveInfo3="Responsivt, Astro, tekst, billeder, video, infografik, liste- & singleview, Git/branches, host på Netlify, API"
						opgaveInfo4="Indholdsplan og produktion, trafik og engagement"
						opgaveInfo5="Rapport med projektstyring, research, designproces, teknisk dokumentation, test, refleksion, links til løsninger"
					/>
					<PortfolioCard
						link="https://team8eksamenkea2025reclaimactive.netlify.app/"
						img="/portfolio-img/ReclaimSite.png"
						tekst="Reclaim Active Site"
						opgaveNavn="Reclaim Active"
						opgaveInfo1="Digital løsning + indhold til site og sociale medier, konvertering"
						opgaveInfo2="Målgruppe-baseret konceptudvikling pains/gains, illustrationer og SOME-indhold, visuel stil + kreativ tilpasning"
						opgaveInfo3="Responsivt, Astro, tekst, billeder, video, infografik, liste- & singleview, Git/branches, host på Netlify"
						opgaveInfo4="Indholdsplan og produktion, trafik og engagement"
						opgaveInfo5="Rapport med projektstyring, research, designproces, teknisk dokumentation, test, refleksion, links til løsninger"
					/>
				</div>

				<h3>3. Semester</h3>

				<div class="PortCards">
					<PortfolioCard
						link="https://radiant-florentine-7c595d.netlify.app/"
						img="/portfolio-img/todoapp.png"
						tekst="To Do App"
						opgaveNavn="To Do App"
						opgaveInfo1="Interaktiv ToDo-app, funktionel, visuelt tiltalende,"
						opgaveInfo2="HTML, CSS, JavaScript, oprette/ændre/fjerne tasks, håndtere “færdig”-liste, evt. localStorage"
						opgaveInfo3="Intuitivt og brugervenligt interface, tydelig visuel feedback"
					/>
					<PortfolioCard
						link="https://golden-blancmange-ba8485.netlify.app/"
						img="/portfolio-img/ThemeSwitcher.png"
						tekst="Theme Switcher"
						opgaveNavn="Theme Switcher"
						opgaveNavn="Language Switcher"
						opgaveInfo1="HTML, CSS, JS, dropdown til at skifte tema"
						opgaveInfo2="Attribute selectors og CSS custom properties til farver og styles"
						opgaveInfo3="Implementere interaktivitet med eventListener, teste skift mellem themes"
					/>
					<PortfolioCard
						link="https://exquisite-platypus-602513.netlify.app/"
						img="/portfolio-img/languageSwitcher.png"
						tekst="Language Switcher"
						opgaveNavn="Language Switcher"
						opgaveInfo1="Language switcher til HTML-side (dansk/tysk)"
						opgaveInfo2="JavaScript til at finde og erstatte tekster via querySelector"
						opgaveInfo3="Dropdown til valg af sprog"
						opgaveInfo4="Teste skift af sprog, sikre korrekt tekstopdatering på siden"
					/>
					<PortfolioCard
						link="https://admirable-churros-0e9398.netlify.app/"
						img="/portfolio-img/filter.png"
						tekst="Filter"
						opgaveNavn="Filter"
						opgaveInfo1="Filtrering i tabel"
						opgaveInfo2="JavaScript if-statements til filterlogik, hardcodede filtre → knapper"
						opgaveInfo3="Style tabel, skjule undefined/tomme felter"
						opgaveInfo4="Teste filtrering, implementere interaktivitet med knapper, forbedre visuel fremstilling"
					/>
				</div>
			</div>

			<div class="Portfolie_mobile">
				<h1>Portfolio</h1>
				<div class="dropdown">
					<button class="dropdown-toggle">
						<h3>1. Semester</h3>
						<span class="arrow">▼</span>
					</button>
					<div class="dropdown-content">
						<PortfolioCard
							link="https://ornate-zuccutto-e8ca03.netlify.app/"
							img="/portfolio-img/MealPrep.png"
							tekst="Mealprep Site"
							opgaveNavn="Meal-prep site"
							opgaveInfo1="Udvikle site fra idé til færdigt site."
							opgaveInfo2="Design & kodning (Figma, HTML, CSS, JS)"
							opgaveInfo3="Research, test & dokumentation"
						/>
						<PortfolioCard
							link="https://venerable-parfait-0f27ae.netlify.app/"
							img="/portfolio-img/PassionSite.png"
							tekst="Passion Site"
							opgaveNavn="Passion Site"
							opgaveInfo1="HTML/CSS/JS, Lottiefile, 2 webfonte, valid HTML/CSS"
							opgaveInfo2="5-shot-sequence, interview, B-roll, HD, ekstern lyd"
							opgaveInfo3="Illustrator + After Effects, Lottiefile"
						/>
						<PortfolioCard
							link="https://gleaming-rabanadas-c4e293.netlify.app/spil"
							img="/portfolio-img/FruitFall.png"
							tekst="Animation Site"
							opgaveNavn="Animation Game"
							opgaveInfo1="Klik-spil, point/liv/tid, tab/vind"
							opgaveInfo2="Figurer, baggrund, skitser, lyde, musik"
							opgaveInfo3="Løbende dokumentation af arbejde og udvikling"
						/>
					</div>
				</div>
			</div>

			<div class="Portfolie_mobile">
				<div class="dropdown">
					<button class="dropdown-toggle">
						<h3>2. Semester</h3>
						<span class="arrow">▼</span>
					</button>
					<div class="dropdown-content">
						<PortfolioCard
							link="https://cheery-arithmetic-508485.netlify.app/"
							img="/portfolio-img/WeshelterSite.png"
							tekst="We Shelter Site"
							opgaveNavn="WeShelter Site"
							opgaveInfo1="Kampagnesite – donation/rekruttering"
							opgaveInfo2="Figma-prototype, interaktiv, responsiv"
							opgaveInfo3="Kode i Astro, komponenter, host på Netlify"
							opgaveInfo4="Research, iteration, dokumentation, teamarbejde"
						/>
						<PortfolioCard
							link="https://peaceful-frangollo-8420ec.netlify.app/"
							img="/portfolio-img/PleasantSite.png"
							tekst="Pleasant Site"
							opgaveNavn="Pleasant Site"
							opgaveInfo1="Digital løsning + indhold til site og sociale medier, konvertering"
							opgaveInfo2="Målgruppe-baseret konceptudvikling pains/gains, illustrationer og SOME-indhold, visuel stil + kreativ tilpasning"
							opgaveInfo3="Responsivt, Astro, tekst, billeder, video, infografik, liste- & singleview, Git/branches, host på Netlify, API"
							opgaveInfo4="Indholdsplan og produktion, trafik og engagement"
							opgaveInfo5="Rapport med projektstyring, research, designproces, teknisk dokumentation, test, refleksion, links til løsninger"
						/>
						<PortfolioCard
							link="https://team8eksamenkea2025reclaimactive.netlify.app/"
							img="/portfolio-img/ReclaimSite.png"
							tekst="Reclaim Active Site"
							opgaveNavn="Reclaim Active"
							opgaveInfo1="Digital løsning + indhold til site og sociale medier, konvertering"
							opgaveInfo2="Målgruppe-baseret konceptudvikling pains/gains, illustrationer og SOME-indhold, visuel stil + kreativ tilpasning"
							opgaveInfo3="Responsivt, Astro, tekst, billeder, video, infografik, liste- & singleview, Git/branches, host på Netlify"
							opgaveInfo4="Indholdsplan og produktion, trafik og engagement"
							opgaveInfo5="Rapport med projektstyring, research, designproces, teknisk dokumentation, test, refleksion, links til løsninger"
						/>
					</div>
				</div>
			</div>

			<div class="Portfolie_mobile">
				<div class="dropdown">
					<button class="dropdown-toggle">
						<h3>3. Semester</h3>
						<span class="arrow">▼</span>
					</button>
					<div class="dropdown-content">
						<PortfolioCard
							link="https://radiant-florentine-7c595d.netlify.app/"
							img="/portfolio-img/todoapp.png"
							tekst="To Do App"
							opgaveNavn="To Do App"
							opgaveInfo1="Interaktiv ToDo-app, funktionel, visuelt tiltalende,"
							opgaveInfo2="HTML, CSS, JavaScript, oprette/ændre/fjerne tasks, håndtere “færdig”-liste, evt. localStorage"
							opgaveInfo3="Intuitivt og brugervenligt interface, tydelig visuel feedback"
						/>
						<PortfolioCard
							link="https://golden-blancmange-ba8485.netlify.app/"
							img="/portfolio-img/ThemeSwitcher.png"
							tekst="Theme Switcher"
							opgaveNavn="Theme Switcher"
							opgaveInfo1="HTML, CSS, JS, dropdown til at skifte tema"
							opgaveInfo2="Attribute selectors, CSS custom properties"
							opgaveInfo3="Implementere interaktivitet med eventListener, teste skift mellem themes"
						/>
						<PortfolioCard
							link="https://exquisite-platypus-602513.netlify.app/"
							img="/portfolio-img/languageSwitcher.png"
							tekst="Language Switcher"
							opgaveNavn="Language Switcher"
							opgaveInfo1="Language switcher til HTML-side (dansk/tysk)"
							opgaveInfo2="JavaScript til at finde og erstatte tekster via querySelector"
							opgaveInfo3="Dropdown til valg af sprog"
							opgaveInfo4="Teste skift af sprog, sikre korrekt tekstopdatering på siden"
						/>
						<PortfolioCard
							link="https://admirable-churros-0e9398.netlify.app/"
							img="/portfolio-img/filter.png"
							tekst="Filter"
							opgaveNavn="Filter"
							opgaveInfo1="Filtrering i tabel"
							opgaveInfo2="JavaScript if-statements til filterlogik, hardcodede filtre → knapper"
							opgaveInfo3="Style tabel, skjule undefined/tomme felter"
							opgaveInfo4="Teste filtrering, implementere interaktivitet med knapper, forbedre visuel fremstilling"
						/>
					</div>
				</div>
			</div>
		</section>
	</body>
	<footer class="header">
		<header class="wrapper">
			<InfoCard
				png="iconer/email.png"
				text="E-mail"
				info="julialstrup19@gmail.com"
			/>
			<InfoCard png="iconer/Phone.png" text="Phone" info="+4526296578" />
			<InfoCard
				png="iconer/Linkedin.png"
				text="Linkedin"
				info="https://www.linkedin.com/in/julie-alstrup-therkelsen-47525a344/"
			/>
			<InfoCard
				png="iconer/study.png"
				text="Uddannelses sted"
				info="EK Erhvervsakademi København"
			/>
		</header>
	</footer>
</Layout>
<script is:inline>
	document.addEventListener("DOMContentLoaded", () => {
		document.querySelectorAll(".dropdown-toggle").forEach((btn) => {
			btn.addEventListener("click", () => {
				btn.parentElement.classList.toggle("open");
			});
		});
	});
</script>
<style>
	p,
	h3 {
		color: #804a2d;
	}
	@media (min-width: 390px) {
		.wrapper {
			display: flex;
			flex-wrap: nowrap;
			align-items: flex-end;
			justify-content: space-between;
			margin: 10%;

			padding: 2%;
			width: 100%;
			height: 100px;
			gap: 7rem;
			scroll-snap-align: start;
			transition: transform 0.3s ease;
		}
		.header {
			overflow-x: auto;
			-webkit-overflow-scrolling: touch;
			scroll-padding: 1rem;
			margin: 7%;
		}

		.name {
			display: flex;
			justify-content: center;
			align-items: flex-end;
			position: relative;
			height: 3vh;
		}
		.name h1 {
			font-size: 3.5vh;
			font-weight: 700;
			color: #ca6c38;
			margin: 0;
			margin-bottom: -2vh;
		}
		.frame {
			background-color: #faf2e2;
			height: auto;
			width: 90%;
			margin: 0;
			justify-self: center;
			overflow: hidden;
		}
		.frame div {
			margin-right: 3vh;
			margin-left: 3vh;
			font-weight: 250;
			justify-self: center;
			align-self: center;
		}
		.portræt {
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 2rem auto;
			width: auto;
		}
		.portræt img {
			max-width: 300px;
			width: 100%;
			height: auto;
			margin: 0;
		}
		div h3 {
			border-top-style: solid;
			border-color: #ca6c38;
			padding-top: 1rem;
			padding-right: 2vh;
			padding-left: 2vh;
			padding-bottom: 0;
		}

		div p {
			border-bottom-style: solid;
			border-color: #ca6c38;
			padding-bottom: 1rem;
			padding-right: 2vh;
			padding-left: 2vh;
		}

		.Portfolie {
			display: none;
		}

		.Portfolie_mobile {
			margin-bottom: 2rem;
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		/* Dropdown container */
		.Portfolie_mobile h1 {
			font-size: 6vh;
			font-weight: 700;
			justify-self: center;
			color: #ca6c38;
			margin: 0;
			margin-top: 3vh;
			margin-bottom: 1vh;
		}
		.dropdown {
			width: 100%;
			margin-top: 1rem;
			overflow: hidden;
			align-items: center;
			justify-items: center;
		}

		/* Knap med overskrift og pil */
		.dropdown-toggle {
			width: 300px;
			padding: 0rem;
			background: none;
			border: none;
			font-size: 1.2rem;
			font-weight: bold;
			text-align: left;
			cursor: pointer;
			position: relative;
		}

		.dropdown-toggle .arrow {
			position: absolute;
			top: 40%;
			right: 1rem;
			transition: transform 0.3s ease;
		}

		.dropdown.open .dropdown-toggle .arrow {
			transform: rotate(180deg);
		}

		/* Indhold (skjult som standard) */
		.dropdown-content {
			max-height: 0;
			overflow: hidden;
			transition: max-height 0.4s ease;

			gap: 2rem;

			display: flex;
			flex-direction: column;
			align-items: center;
		}

		.dropdown.open .dropdown-content {
			max-height: 3000px;
			padding: 1rem;
		}
	}
	@media (min-width: 1024px) {
		.Portfolie_mobile {
			display: none;
		}

		.header,
		.wrapper {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-self: center;
			justify-content: space-between;
			min-height: 20px;
			width: 100%;
			margin-top: 1rem;
			margin-bottom: 2rem;
		}
		.name {
			display: flex;
			justify-content: center;
			align-items: flex-end;
			position: relative;
			height: 3vh;
		}

		.name h1 {
			font-size: 6vh;
			font-weight: 700;
			color: #ca6c38;
			margin: 0;
			margin-bottom: -4vh;
		}
		.frame {
			background-color: #faf2e2;
			height: auto;
			width: 90%;
			align-items: center;
			justify-self: center;
			margin: 0 auto;
		}
		.Ansøgning {
			display: grid;
			grid-template-columns: 2fr 2fr;
			grid-template-rows: auto;
		}

		.frame div {
			padding-right: 5vh;
			padding-left: 5vh;
			font-weight: 250;
		}
		div h3 {
			border-top-style: solid;
			border-color: #ca6c38;
			padding-top: 1rem;
			padding-right: 1rem;
			padding-left: 1rem;
			padding-bottom: 0;
		}
		div p {
			border-bottom-style: solid;
			border-color: #ca6c38;
			padding-bottom: 1rem;
		}
		.portræt {
			padding: 5vh;
			grid-column: 2/3;
			grid-row: 1/3;
			justify-self: center;
		}
		.portræt img {
			max-width: 400px;
		}
		.OmMig {
			padding: 5vh;
			grid-column: 1/2;
			grid-row: 1/2;
			height: auto;
		}
		.Erfaring {
			grid-column: 1/2;
			grid-row: 2/3;
		}
		.Mål {
			grid-column: 2/3;
			grid-row: 3/4;
		}
		.Tilgang {
			grid-column: 1/2;
			grid-row: 3/4;
		}
		.Portfolie {
			margin: 0 auto; /* Centrerer containeren */
			display: flex;
			flex-direction: column;
			align-items: center;
			max-width: 100%;
		}
		.Portfolie h1 {
			font-size: 6vh;
			font-weight: 700;
			justify-self: center;
			color: #ca6c38;
			margin: 0;
			margin-top: 3vh;
			margin-bottom: 1vh;
		}
		.Portfolie h3 {
			align-self: flex-start;
			margin: 2rem;
			border-top: none;
		}
		.PortCards {
			display: flex;
			flex-direction: row;
			justify-content: center; /* centrerer kortene horisontalt */
			align-items: flex-start; /* justerer toppen */
			gap: 2rem; /* afstand mellem kortene */
			flex-wrap: wrap;
			width: 100%;
			height: 100%;
			align-items: stretch;
		}
		footer {
			display: flex;
			flex-direction: row;
			align-items: flex-end;
			justify-content: space-between;
			padding: 2%;
		}
	}
</style>
